nav > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-right: 7%;
  font-family: 'Bungee Shade', cursive;
  font-size: clamp(1rem, 3vw, 1.3rem);
}

nav > a:hover {
  color: var(--orange);
}

nav > a:last-child {
  padding-right: 0;
}

.nav-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--white);
}

.nav-dropdown > a:last-child {
  padding-right: 7%;
}
