
.nav-dropdown {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  position: absolute;
  z-index: 10;
  top: 0;
  width: 45vw;
  height: 100vh;
  background-color: var(--dark-gray);
}

.nav-dropdown > ul {
  margin-top: 20%;
  padding-left: 20px;
  width: 100%;
  text-align: left;
}

li {
  list-style-type: none;
  margin-top: 30px;
}

li:last-child {
  padding-right: 7%;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.ham-btn, .x-btn {
  position: absolute;
  top: 20px;
  left: 7%;
  color: var(--white);
  z-index: 12;
}
