.flex-col {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

.flex-col>button {
  margin: 10px 0 25px;
}

.flex-col>input[type="number"] {
  text-align: center;
}

.fs-homepage {
  font-size: clamp(1rem, 2vw, 1.5rem);
}